
.completed {
    opacity: 0.3;
}

.pointer {
    cursor: pointer;
    border-width: 1.5px !important;
    font-weight: 400;
}

#calendar {
    margin: 15px;
    height: 100%;
}

#calendar a {
    text-decoration: none;
    color: rgb(68, 68, 68);
}

body {
    text-decoration: none;
}

.content {
    height: 100% !important;
}
.fc-col-header, .fc-timegrid-body { 
    width: 100% !important; 
    height: 100% !important;
}
.fc-scrollgrid-sync-table { 
    width: 100% !important; 
    height: 100% !important;
} 
.fc-daygrid-body {
    width: 100% !important;
    height: 100% !important;
}
.fc-daygrid-body-balanced {
    width: 100% !important;
    height: 100% !important;
}

@media screen and (max-width: 850px) {
    .fc-header-toolbar {
        font-size: medium;
    }
    .fc-header-toolbar {
        font-size: small;
    }
}

@media screen and (max-width: 550px) {
    .fc-header-toolbar {
        font-size: small;
    }
    .fc-header-toolbar {
        font-size: x-small;
    }
    #calendar {
        font-size: small;
    }
}
