.home {

}

.show-my-group-container {
    display: none;
}

.content {
    display: flex;
    flex-direction: row;
}

.groupList {
    width: 25%;
}

.accordion-body {
    
}

.navContainer {
    /*padding-left: 10%;*/
    /*width: 10%;*/
    /*border-style: dashed;*/
    /*border-width: thick;*/
}

.taskBoard {
    width: 100%;
}

.groupItemTest {
    display:flex;
    width: 100%;
}

@media screen and (max-width: 1000px) {
    .groupList {
        width: 35%;
    }
}

@media screen and (max-width: 850px) {
    .groupList {
        display: none;
    }
    .show-my-group-container {
        display: block;
    }
}
