.navigator-logo img {
    height: 45px;
    margin: 0 10px;
    border-radius: 0%;
}

.nav-outer-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.nav-image-container img {
    border-radius: 50%;
    width: 45px;
    height: 45px;
    cursor: pointer;
    object-fit: cover;
}

.nav-left-container {
    display: flex;
    justify-content: right;
    align-items: center;
}


.nav-right-container {
    display: flex;
    justify-content: right;
    align-items: center;
    float: right;
    font-family: "Georgia"
}

