.profile-container {
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
    justify-content: space-around;
}

.figure-container {
    /*flex-grow: 1;*/
    width: 30%;
    display: flex;
    flex-direction: column;
    margin-right: 5%;
}

.figure-container div {
    margin-top: 5px;
}

.figure-container img {
    border-radius: 50%;
    width: 100%;
    aspect-ratio: 1;
    /*height: 20%;*/
    margin-bottom: 5%;
    cursor: pointer;
    object-fit: cover;
}

.figure-container h2 {
    font-size: 2em;
}

.profile-email {
    color: grey;
    font-size: 20px;
    font-style: italic;
    margin-top: 10px;
    margin-bottom: 10px;
}

.info-container {
    /*flex-grow: 20;*/
    display: flex;
    flex-direction: column;
    margin: 1%;
    width: 65%;
}

.info-container div {
    margin-top: 10px;
}

.info-container h3 {
    margin-top: 2%;
}

@media screen and (max-width: 800px) {
    .profile-container {
        display: block;
    }

    .figure-container {
        display: flex;
        flex-direction: row;
        width: 100%;
    }

    .figure-container img {
        border-radius: 50%;
        width: 80%;
        aspect-ratio: 1;
        cursor: pointer;
        object-fit: cover;
    }

    .figure-container h2 {
        font-size: 1.7em;
    }

    .info-container {
        /*flex-grow: 20;*/
        display: flex;
        flex-direction: column;
        margin: 1%;
        width: 95%;
    }
}
